/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */



.sidebar{
  color:white
}

.sidebarButton{
  background: transparent !important;
  color: white !important;
  border: none;
}

.header{
  color: white !important;

  button{
    background: transparent !important;
    color: white !important;
    border: none;
  }
}


/* Add this to your global CSS */
.thin-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #cbd5e0 transparent; /* thumb and track colors */
}

.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e0; /* Tailwind gray-300 */
  border-radius: 4px;
}
